#top{
    padding: 20px;
    width: 1200px;
    border-bottom-style: solid grey;
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-clip: border-box;
    box-shadow: 5px 5px 2em;
    flex-wrap: wrap;
    float: inherit; 
    font-weight: bold; 
    
}
.vallie{
    width: 300px;
}
.topp{
    width: 100px;
    padding-right: 20px;
    
}
#btn-get{
    color: white;
    background-color: #2549D3;
    border-style: none;
    height: 50px;
    width: 120px;
    font-size: 18px;
       
}
#second{
    width: 1200px;
    padding: 50px;
    display: flex;
    flex-direction: row;
}
.helping{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.bold{
    color: #2549D3;
    font-family: 'Courier New', Courier, monospace;
}
.create{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.image1{
    width: 40px;
    padding-left: 40px;
    border-bottom: 0px;
}
.imone{
    width: 600px;
    height: 400px;
    padding-right: 60px;
}
.third{
    width: 800px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 800px;
    border: 20px;
    padding-left: 100px;
    align-self: center;
    background-color: white;
}
#loc{
    color: #2549D3;
    border-style: none;
    font-size: 15px;   
    text-align: center;
    padding-left: 20px;
    margin: 10px;
}
.lekki{
    text-align: center;
    width: 100px;
}
.forth{
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 20px;
    border: 10px;
    padding-left: 50px;
    margin: 20px;
}
.prod{
    color: #0f298B;
    font-size: 30PX;
    border: 20px;
    margin: 20px;
}

.fifth{
    display: flex;
    flex-direction: row;
    border: 10px;
    margin: 20px;
    -ms-flex-align: center;
    width: 1200px;
    padding: 20px;
    background-color: white;
}
.home{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    margin: 20px;
    border: 20px;
    background-color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.addmark{
    width: 100px;
}
.sixth{
    display: flex;
    flex-direction: row;
    width: 1200px;
   padding: 20px;
   border: 10px;
   margin: 20px;
}
.world{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.dd{
    color: #0f298B;

}
.seventh{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 1200px;
}
.photos{
    display: flex;
    flex-direction: row;
    border: 20px;
    margin: 20px;
    padding: 20px;
}
.palace{
    width: 300px;
    height: 200px;
}
.ppl{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.palace2{
    display: flex;
    flex-direction: row;
    border: 20px;
    margin: 20px;
}
.tp{
    width: 150px;
}
#btn-view{    
    color: white;
    background-color: #2549D3;
    border-style: none;
    height: 50px;
    width: 120px;
    font-size: 18px;
    float: right;  
}
.alex{
    display: flex;flex-direction: row;
    background-color: white;
}
.bottom{
    background-color: #2549D3;
    color: white;
    display: flex; flex-direction: row;
    width: 1200px;   
}
.last{
    width: 200px;
    text-align: left;
    border: 20px;
    margin: 20px;
}